{{#partial "content"}}

    {{#if editHero}}
        <h1>Edit this hero!</h1>
        <form action="/hero/{{editHero.id}}/update" method="post">
            <label for="heroDetails">Edit this hero's details</label>
            <input id="name" name="name" type="text" value="{{editHero.name}}">
            <input id="age" name="age" type="number" value="{{editHero.age}}">
            <input id="specialPower" name="specialPower" type="text" value="{{editHero.specialPower}}">
            <input id="weakness" name="weakness" type="text" value="{{editHero.weakness}}">
        </form>

    {{else}}
        <h1>Add a new Hero!</h1>

        <form action="/hero/new" method="post">
            <input type="text" placeholder="Enter your hero's name" name="name" required>
            <input type="number" placeholder="Enter your hero's age" name="age" required>
            <input type="text" placeholder="Enter your hero's special powers" name="specialPower" required>
            <input type="text" placeholder="Enter your hero's weakness" name="weakness" required>

           <!-- <label for="content">Post Content</label>
            <input id="content" name="content" type="text">-->

    {{/if}}
        <button type="submit" class="btn btn-default">Go!</button>
    </form>

{{/partial}}

{{> layout.hbs}}